* {
  margin: 0;
  padding: 0;
}

h1, h3, p {
  margin: 1rem;
}

#colors {
  display: flex;
  justify-content: center;
}

.body {
  background-color: rgb(219, 235, 235);
}

.section {
  margin: 2rem;
  padding: 1rem;
}

.square {
  border: 1px solid black;
  height: 25px;
  margin: 0.3rem;
  width: 25px;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.light-yellow {
  background-color: rgb(243, 243, 174);
}

.light-green {
  background-color: rgb(138, 221, 138);
}
